.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #333;
  padding-left: 80px;
  padding-right: 80px;
}

/* === Linha superior === */
.topBar {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #ddd;

  .infoItem {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #444;

    svg {
      color: #9F9F9F;
    }

    .colorText {
      color: #3019b2;
      font-weight: 600;
      font-family: 'Poppins';
    }
  }
}

.mainContainer{
  width: 100% ;
  display: flex;
  justify-content: center;
}

/* === Linha intermediária === */
.mainBar {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .logo {
    height: 50px;
    object-fit: contain;
  }

  .searchContainer {
    display: flex;
    flex: 1;
    margin: 0 2rem;
    max-width: 630px;
   

    input {
      flex: 1;
      padding: 0.6rem 1rem;
      background-color: #F6F5F2;
      border: 1px none #ccc;
      border-radius: 10px 0 0 10px;
      outline: none;
      font-size: 1rem;
      font-family: 'Poppins';

      &:focus {
        border-color: #3019b2;
      }
    }

    button {
      padding: 0.6rem 1rem;
      background-color: #f6f6f6;
      border: 1px none #ccc;
      border-left: none;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #F6F5F2;
      }
    }
  }

  .iconGroup {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .icon {
      font-size: 1.3rem;
      color: #444;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #3019b2;
      }
    }
  }
}

/* === Linha inferior - Categorias === */
.categoriesBar {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 91px;
  background-color: #fff;
  padding: 0.8rem 1rem;
  border-top: 1px solid #eee;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9rem;
  width: 1280px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  span {
    font-size: 12px;
    cursor: pointer;
    transition: color 0.3s;
    color: #9F9F9F;

    &:hover {
      color: #3019b2;

      svg {
        color: #3019b2;
      }
    }

    &.subscription {
      display: flex;
      align-items: center;
      gap: 0.4rem;

      
      
    }
  }
}
